.content {
    display: flex;
}
.content .actualites {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow: scroll;
    margin-top: 8px;
}

.content .resultat {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow: scroll;
    margin-top: 8px;
}

.content img , p , h3 {
    width: 60%;
}

.content h3 {
    text-align: center;
    width: 60%;
}

