input[type=text] {
    width: 100%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
 }
 /* When the input field gets focus,
        change its width to 100% */
        input[type=text]:focus {
            width: 100%;
          }
        
         #list{
           font-size:  1.5em;
           margin-left: 90px;
          }
        
       .sport{
          display: none;    
         } 
li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}