/* Couleurs général */
:root {
  /* light mode (mode2) */
  --light-bodybackground: #ffffff;
  --light-body-color: #1e1e1e;
  --light-header-nav-footer: #f1f1f1;
  --light-header-nav-footer-police: #1e1e1e;
  --light-nav-hover: #d4d4d4;
  --light-nav-active: #c4c4c4;
  --light-header-btn: #d4d4d4;
  --light-header-btn-hover: #eaeaea;
  --light-modal-cookies-bg: #ffffff;

  /* dark mode (mode2) */
  --dark-bodybackground: #212121;
  --dark-body-color: #ffffff;
  --dark-header-nav-footer: #161616;
  --dark-header-nav-footer-police: #ffffff;
  --dark-nav-hover: #313131;
  --dark-nav-active: #191919;
  --dark-header-btn: #313131;
  --dark-header-btn-hover: #3e3e3e;
  --dark-modal-cookies-bg: #0c0c0c;
}

/* Element toujours collé (header, nav & footer) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* transition des modes (sombre / clair) regroupant: bouton, header, navigation..*/
body, .header-top, footer, .sidebar, .sidebar a, #toggle-theme, .login-btn, .help-btn {
  transition: 0.5s; /* Délais de 0.5secondes au changement dark/light */
}

body {
  background-color: var(--light-bodybackground);
  color: var(--light-body-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.dark-theme {
  background-color: var(--dark-bodybackground);
  color: var(--dark-body-color);
}

header {
  text-align: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

body:not(.dark-theme) .header-top {
  background-color: var(--light-header-nav-footer);
  color: var(--light-header-nav-footer-police);
}

body.dark-theme .header-top {
  background-color: var(--dark-header-nav-footer);
  color: var(--dark-header-nav-footer-police);
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  padding: 0;
}

body:not(.dark-theme) .sidebar {
  background-color: var(--light-header-nav-footer);
  color: var(--light-header-nav-footer-police);
}

body.dark-theme .sidebar {
  background-color: var(--dark-header-nav-footer);
  color: var(--dark-header-nav-footer-police);
}

.sidebar ul {
  list-style-type: none;
  margin-top: 50%;
}

.sidebar ul li {
  margin-bottom: 1px;
}

.sidebar h2 {
  padding-left: 20px;
}

.sidebar a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px 30px;
}

body:not(.dark-theme) .sidebar a {
  background-color: var(--light-header-nav-footer);
  color: var(--light-header-nav-footer-police);
}

body.dark-theme .sidebar a {
  background-color: var(--dark-header-nav-footer);
  color: var(--dark-header-nav-footer-police);
}

body:not(.dark-theme) .sidebar a:hover {
  background-color: var(--light-nav-hover);
  color: var(--light-header-nav-footer-police);
}

body.dark-theme .sidebar a:hover {
  background-color: var(--dark-nav-hover);
  color: var(--dark-header-nav-footer-police);
}

body:not(.dark-theme) a.active {
  background-color: var(--light-nav-active);
  color: var(--light-header-nav-footer-police);
}

body.dark-theme a.active {
  background-color: var(--dark-nav-active);
  color: var(--dark-header-nav-footer-police);
}

.logo img {
  max-width: 100%;
  height: auto;
}

.header-button a {
  text-align: justify;
  margin-right: 30px;
  padding: 10px 20px;
  background-color: #ff5722;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

#toggle-theme {
  margin-left: 20px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  border: none;
  width: 80%;
}

body:not(.dark-mode) #toggle-theme,
#toggle-theme::before {
  background-color: var(--light-nav-hover);
  color: var(--light-header-nav-footer-police);
}

body:not(.dark-theme) #toggle-theme:hover,
#toggle-theme::before {
  background-color: var(--dark-nav-hover);
  color: var(--dark-header-nav-footer-police);
}

body.dark-theme #toggle-theme,
#toggle-theme::before {
  background-color: var(--dark-nav-hover);
  color: var(--dark-header-nav-footer-police);
}

body.dark-theme #toggle-theme:hover,
#toggle-theme::before {
  background-color: var(--light-nav-hover);
  color: var(--light-header-nav-footer-police);
}

/* Bouton connexion / Inscription */
.login-btn {
  position: fixed;
  top: 15px;
  padding: 7px;
  border-radius: 5px;
  right: 30px;
  border: none;
  cursor: pointer;
}

.help-btn {
  position: fixed;
  top: 48px;
  padding: 7px;
  border-radius: 5px;
  right: 30px;
  border: none;
  cursor: pointer;
}

body:not(.dark-theme) .login-btn {
  background-color: var(--light-header-btn);
  color: var(--light-header-nav-footer-police);
}

body.dark-theme .login-btn {
  background-color: var(--dark-header-btn);
  color: var(--dark-header-nav-footer-police);
}

body:not(.dark-theme) .login-btn:hover {
  background-color: var(--light-header-btn-hover);
}

body.dark-theme .login-btn:hover {
  background-color: var(--dark-header-btn-hover);
}

body:not(.dark-theme) .help-btn {
  background-color: var(--light-header-btn);
  color: var(--light-header-nav-footer-police);
}

body.dark-theme .help-btn {
  background-color: var(--dark-header-btn);
  color: var(--dark-header-nav-footer-police);
}

body:not(.dark-theme) .help-btn:hover {
  background-color: var(--light-header-btn-hover);
}

body.dark-theme .help-btn:hover {
  background-color: var(--dark-header-btn-hover);
}

footer {
  margin-top: 50px;
  padding: 30px;
  text-align: center;
  width: 100%;
}

body:not(.dark-theme) footer {
  background-color: var(--light-header-nav-footer);
  color: var(--light-header-nav-footer-police);
}

body.dark-theme footer {
  background-color: var(--dark-header-nav-footer);
  color: var(--dark-header-nav-footer-police);
}

/* Bouton réseaux sociaux */
#btn-facebook {
  background-color: #3b5998;
  border:none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  color: #fff;
  width: 10%;
  cursor: pointer;
}
#btn-twitter {
  background-color: #1DA1F2;
  border:none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  color: #fff;
  width: 10%;
  cursor: pointer;
}
#btn-instagram {
  background-color: #405de6;
  border:none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  color: #fff;
  width: 10%;
  cursor: pointer;
}

#btn-facebook:hover {
  background-color: #4465ac;
}
#btn-twitter:hover {
  background-color: #35acf5;
}
#btn-instagram:hover {
  background-color: #5870e8;
}

#cookie-consent-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #191919;
  padding: 10px;
  border: 1px solid #101010;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 370px;
  display: none;
  overflow: hidden; /* Empêcher le texte de passer en dessous de l'image */
}

/* Styles pour l'image */
#cookie-image {
  float: left;
  margin-left: 10px;
  max-width: 100px;
  height: 60px;
}
#cookie-consent-box p {
  clear: both;
}
#cookie-consent-box a {
  color: beige;
}

#cookie-consent-box h2 {
  padding: 10px;
}

.accept-cookies-btn {
  background-color: #B4814A;
  color: #fff;
  border: none;
  margin-top: 5px;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.refuse-cookies-btn {
  background-color: #9d2b2b;
  color: #fff;
  border: none;
  margin-top: 5px;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-cookie {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 450px;
  justify-content: center;
  align-items: center;
}

.modal-content-cookie {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-content-cookie p {
  padding: 30px 0;
}

body:not(.dark-theme) .modal-content-cookie {
  background-color: var(--light-modal-cookies-bg);
  color: var(--light-body-color);
}

body.dark-theme .modal-content-cookie {
  background-color: var(--dark-modal-cookies-bg);
  color: var(--dark-body-color);
}

.modal-close-cookie {
  background-color: #B4814A;
  color: #fff;
  padding: 7px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.modal-close-cookie:hover {
  background-color: #b48757;
}

/* Styles du contenu du site */
.content {
  margin-top: 105px;
  margin-left: 225px;
  flex-grow: 1;
}
